<!doctype html>
<html ng-app="angular-s3-upload">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Angular AWS S3 Upload</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Styles -->
  <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="components/toastr/toastr.min.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- JavaScript Libs -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="components/angular/angular.js"></script>
  <script src="components/toastr/toastr.min.js"></script>
  <script src="components/aws-sdk-js/dist/aws-sdk.min.js"></script>
  <script src="node_modules/angular-resource/angular-resource.js"></script>

  <!-- Our JavaScript -->
  <script src="js/application.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/services/apiwrapper.js"></script>
</head>
<body ng-controller="UploadController">
  <div class="container-fluid">
    <div class="page-header no-top-marg">
      <div class="fr author">
        <a target="_blank" href="https://www.lukashuber.com">
          <span>By Lukas Huber</span>
          <img alt="By Lukas Huber" class="img-circle left-marg-10" height="40" src="http://gravatar.com/userimage/89295639/56429affe44a0673082a8f066155937b.jpeg" width="40">
        </a>
      </div>
      <h1>Povray Docker Rendering <small>With AWS JS SDK</small></h1>
    </div>
    <div class="row">
      <!-- AWS Details-->
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Step 1: Input Your AWS Details</h3>
          </div>
          <div class="panel-body">
            <div class="input-group bottom-marg-10">
              <span class="input-group-addon">ACCESS KEY</span>
              <input ng-model="creds.access_key" type="text" class="form-control" placeholder="2992SD29299">
            </div>
            <div class="input-group bottom-marg-10">
              <span class="input-group-addon">SECRET KEY</span>
              <input ng-model="creds.secret_key" type="password" class="form-control" placeholder="AKS72628SE28">
            </div>
            <div class="input-group">
              <span class="input-group-addon">BUCKET</span>
              <input ng-model="creds.bucket" type="text" class="form-control" placeholder="my_upload_bucket">
            </div>
            <div class="input-group">
              <span class="input-group-addon">Frames</span>
              <input ng-model="creds.frames" type="number" class="form-control" placeholder="no_frames">
            </div>
            <div class="input-group">
              <span class="input-group-addon">Instances</span>
              <input ng-model="creds.instances" type="number" class="form-control" placeholder="4">
            </div>
          </div>
        </div>
      </div>

      <!-- The Upload Form -->
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <select class="fr" ng-model="sizeLimit">
              <option value="5292880">5MB Upload Limit</option>
              <option value="10585760">10MB Upload Limit</option>
              <option value="15878640">15MB Upload Limit</option>
            </select>
            <h3 class="panel-title">Step 2: Upload The File</h3>
          </div>
          <div class="panel-body">
            <input class="bottom-marg-15" type="file" name="file" file></input>
            <!-- Progress Bar -->
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
                {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
              </div>
            </div>
            <a class="btn btn-primary btn-block btn-lg" ng-click="upload()">Upload</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Step 3: Execute Rendering on EC2 instances</h3>
          </div>
          <div class="panel-body">
            <div class="input-group">
              <a class="btn btn-primary btn-block btn-lg" ng-click="execute()">Execute</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Step 4: Describe EC2 instances</h3>
          </div>
          <div class="panel-body">
            <div class="input-group">
              <a class="btn btn-success btn-block btn-lg" ng-click="describeInstances()">Describe</a>
            </div>
          </div>
          <div class="panel-body">
            <div class="input-group">
              <a class="btn btn-danger btn-block btn-lg" ng-click="terminateInstances()">Stop all instances</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Step 5: Download your final GIF</h3>
            </div>
            <div class="panel-body">
              <div class="input-group">
                <a class="btn btn-primary btn-block btn-lg" ng-click="showFiles()">List S3 Objects</a>
              </div>
              <div class="">
              {{s3list}}
                </div>
            </div>
          </div>
        </div>
      <div class="col-md-8">
        <hr/>
        <h3>Features</h3>
        <ul>
          <li>File Input Directive Binds Attributes To $scope.file</li>
          <li>Validates File Existence</li>
          <li>Validates File Size (Use Select Box To Test)</li>
          <li>Validates AWS Credentials</li>
          <li>Executes the Rendering on EC2 Machines Using Docker</li>
          <li>Describes running Instances</li>
          <li>Stops the instances</li>
          <li>Lists the S3 Objects (download not yet working)</li>
        </ul>
        <hr/>
        <h3>IAM Policy Warning</h3>
        <p>
          Please make sure that if you use this code you create an appropriate IAM account policy to prevent mis-use. Example, a policy like the following would only allow PUT access to the bucket for a specific IAM user. You could also set the bucket objects to automatically expire after 24 hours which would prevent people flooding your account.
        </p>

<pre class="top-marg-10">
{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "Stmt126637111000",
      "Effect": "Allow",
      "Action": [
        "s3:PutObject"
      ],
      "Resource": [
        "arn:aws:s3:::your_bucket_name"
      ]
    }
  ]
}</pre>
      <hr/>
      <h3>Inspired Upload from Cheyne Wallace</h3>
      <p>
        Want a copy of this app? Fork it now at: <a href="https://github.com/cheynewallace/angular-s3-upload">https://github.com/cheynewallace/angular-s3-upload</a>
      </p>
      </div>
    </div>
  </div>
</body>
</html>
